<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
<a class="navbar-brand" href="{{url_for('search.home')}}">fasal-tmp</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="{{url_for('playlist.home')}}">playlist</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{url_for('auth.logout')}}">logout</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://github.com/karthikeyanrathore/-tmp">github</a>
</li>
</ul>
</div>
</div>
</nav>
<br>
<div class ="container">
<br>
{% if error %}
<div class="alert alert-danger">
<strong>Error:</strong> {{ error }}
</div>
{% endif %}
<form method="post"action="{{url_for('search.home')}}" >

<br>
<h3><mark># Add Movie to Playlist</mark></h3>
{% for playlist in playlists %}

<h3>{{playlist.name}}</h3>
{% endfor %}
</div>
</form>

</div>
<br>

</div>
<br>
</div>
</body>
<style>
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #F0F0F0;
color: black;
text-align: center;
}
</style>

<div class="footer">
<p><strong><u>Author: Karthikeyan rathore</u></strong></p>
</div>

</html>

