<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
<a class="navbar-brand" href="{{url_for('search.home')}}">fasal-tmp</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="{{url_for('playlist.home')}}">playlist</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{url_for('auth.logout')}}">logout</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://github.com/karthikeyanrathore/-tmp">github</a>
</li>
</ul>
</div>
</div>
</nav>
<br>
<div class ="container">
<br>
{% if error %}
<div class="alert alert-danger">
<strong>Error:</strong> {{ error }}
</div>
{% endif %}
<form method="post">

<br>
<h3><mark># Add Movie "{{movie_name}}" to Playlist</mark></h3>
<div class="form-check">
<div>
{% for playlist in playlists %}
<br>
{% if playlist.private == True %}
<label class="form-check-label" for="flexCheckDefault" style="padding:10px;">
<input class="form-check-input" type="checkbox" name={{playlist.name}} value='TRUE' id={{playlist.name}}>
<h4 class="text-danger"><small class="text-muted">PRIVATE: </small>{{playlist.name}}</h4>
</label>
{% endif %}

{% if playlist.private == False %}
<label class="form-check-label" for="flexCheckDefault" style="padding:10px;">
<input class="form-check-input" type="checkbox" name={{playlist.name}} value='TRUE' id={{playlist.name}}>
<h4 class="text-primary"><small class="text-muted">PUBLIC: </small>{{playlist.name}}</h4>
</label>
{% endif %}
{% endfor %}
</div>
<br>
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

</div>
<br>

</div>
<br>
</div>
</body>
<style>
.double {
  zoom: -9;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 1 0;
  -moz-transform-origin: 0 0;
}
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #F0F0F0;
color: black;
text-align: center;
}
</style>


<div class="footer">
<p><strong><u>Author: Karthikeyan rathore</u></strong></p>
</div>

</html>

